:root {
  --dropdown--menu--border-radius: 8px;
  --dropdown--menu--spacing: var(--accessible-spacing--1x);
  --dropdown--menu--width: 30ch;
  --dropdown--menu-item--icon-size: 1.5em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  user-select: none;
  /* Hide the disclosure triangle that is natively applied to `<summary>` elements. */
  list-style: none;
}

/* Safari hack: Safari doesn't respect the above method of hiding the disclosure triangle. */
.dropdown-trigger::-webkit-details-marker {
  display: none;
}

.dropdown[open] > .dropdown-trigger {
  --button--primary-color: var(--color--blue);
  --button--contrast-color: var(--color--gray--lighter);
  --navbar-item--background-color: #0001;
}

/* This generates an invisible backdrop when the dropdown is open,
   behind the dropdown but above all other page content,
   that is technically part of the dropdown trigger.
   Thus, clicking anywhere else on the page is like clicking the trigger,
   and closes the dropdown. */
.dropdown[open] > .dropdown-trigger::before {
  position: fixed;
  inset: 0;
  z-index: 80;
  content: ' ';
  display: block;
  cursor: default;
}

.dropdown-menu {
  position: absolute;
  z-index: 100;
  width: var(--dropdown--menu--width);

  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--color--gray--medium);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.dropdown-menu.left {
  left: 0;
}

.dropdown-menu.right {
  right: 0;
}

.dropdown-menu > * {
  border-bottom: 1px solid var(--color--gray--light);
}

.dropdown-menu > *:last-child {
  border-bottom: none;
}

/* CSS `transition` doesn't work when disclosing `<details>` element contents,
  thus we use `animation`. */
@keyframes show-dropdown-menu {
  from {
    opacity: 0;
    transform: translateY(0);
  }
}

.dropdown[open] .dropdown-menu {
  animation: show-dropdown-menu 200ms ease-in-out;

  opacity: 1;
  transform: translateY(10px);
}

.dropdown-menu-text {
  font-size: 0.85rem;
  padding: var(--dropdown--menu--spacing);
}

.dropdown-menu-link {
  color: inherit;
  font-weight: var(--font-weight--medium);
  text-decoration: none;
  padding: var(--dropdown--menu--spacing);
}

.dropdown-menu-link.has-icon {
  display: flex;
  align-items: center;
  gap: var(--fixed-spacing--1x);
}

.dropdown-menu-link.has-icon.align-icon--right {
  justify-content: space-between;
  gap: var(--fixed-spacing--2x);
}

.dropdown-menu-link .title {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.dropdown-menu-link .description {
  font-weight: normal;
}

.dropdown-menu-link:hover {
  background-color: var(--color--gray--lighter);
}

.dropdown-menu-link > svg {
  height: var(--dropdown--menu-item--icon-size);
  width: var(--dropdown--menu-item--icon-size);
}
