version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    versioning-strategy: 'increase'
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: '@storybook/*'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: 'storybook'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: 'eslint-plugin-storybook'
        update-types:
          - 'version-update:semver-major'

    groups:
      storybook:
        dependency-type: 'development'
        patterns:
          - 'storybook'
          - '@storybook/*'
      eslint:
        patterns:
          - '*eslint*'

  - package-ecosystem: 'github-actions'
    directory: '.github/workflows'
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
