.landing-panel {
	max-width: 60ch;
	margin: var(--fixed-spacing--2x) auto;

	--panel--padding: var(--fixed-spacing--2x);
}

.launch-buttons {
	display: flex;
	gap: var(--fixed-spacing--1x);
	flex-direction: column;

	&.authenticated {
		flex-direction: row;
	}
}
