:root {
	--bulk-upload-list-item--color: black;
	--bulk-upload-list-item--icon-size: var(--accessible-spacing--3x);
}

.bulk-upload-list-item {
	padding: var(--bulk-upload-list--padding-v) var(--bulk-upload-list--padding-h);
	display: grid;
	column-gap: var(--accessible-spacing--1x);
	grid-template-columns: var(--bulk-upload-list-item--icon-size) 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		'icon file-name'
		'icon metadata';

	color: var(--bulk-upload-list-item--color);
}

.bulk-upload-list-item:is(.pending, .in_progress) {
	--bulk-upload-list-item--color: var(--color--gray--medium-dark);
}

.bulk-upload-list-item.canceled {
	--bulk-upload-list-item--color: var(--color--gray--medium-dark);
}

.bulk-upload-list-item.failed {
	--bulk-upload-list-item--color: var(--color--red);
}

.bulk-upload-list-item.failed a {
	color: inherit;
}

.bulk-upload-list-item .status-icon {
	grid-area: icon;
}

.bulk-upload-list-item .status-icon svg {
	height: var(--bulk-upload-list-item--icon-size);
	width: var(--bulk-upload-list-item--icon-size);
}

.bulk-upload-list-item .file-name {
	grid-area: file-name;
	font-weight: var(--font-weight--medium);
	font-size: 1.1em;
	word-wrap: break-word;
}

.bulk-upload-list-item .metadata {
	grid-area: metadata;
}
