:root {
	--proposal-list-grid-item--details-color: var(--color--gray--medium-dark);
}

.list-grid-item {
	padding: var(--fixed-spacing--1x);
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--color--gray--light);
	line-height: 1.1;
	display: flex;
	flex-direction: column;
	gap: var(--fixed-spacing--halfx);
}

.list-grid-item:hover {
	background-color: var(--color--gray--lighter);
}

.list-grid-item.active {
	--proposal-list-grid-item--details-color: var(--color--gray--darker);
	background-color: var(--color--blue--lighter);
}

.list-grid-item:last-child {
	border-bottom: none;
}

.list-grid-item-title {
	font-weight: var(--font-weight--medium);
}

.list-grid-item-detail {
	color: var(--proposal-list-grid-item--details-color);
	font-size: 0.9em;
}
