:root {
	--bulk-upload--flex-direction: column;
	--bulk-upload--flex-gap: var(--accessible-spacing--2x);
}

#bulk-upload-instructions {
	margin-block-end: var(--accessible-spacing--4x);

	display: flex;
	flex-direction: var(--bulk-upload--flex-direction);
	gap: var(--bulk-upload--flex-gap);
	width: 100%;
}

#bulk-upload-instructions > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
}

@media screen and (min-width: 1000px) {
	:root {
		--bulk-upload--flex-direction: row;
		--bulk-upload--flex-gap: var(--accessible-spacing--4x);
	}

	#bulk-upload-instructions .file-picker,
	#bulk-upload-instructions .file-picker button {
		height: 100%;
	}
}

.instructions {
	max-width: 80ch;
}

.instructions h2 + ul {
	margin-block-start: 0;
}

.instructions strong {
	font-weight: var(--font-weight--medium);
}
