.search {
	display: flex;
	gap: var(--fixed-spacing--1x);
}

input[type='search'] {
	font-family: var(--font-family--sans-serif);
	/* TODO: Replace this these references to button vars with form-generic vars. */
	font-size: var(--button--font-size);
	height: var(--button--height);
	padding: var(--button--padding-y) var(--button--padding-x);
	border-radius: var(--button--border-radius);
	border: 1px solid var(--color--gray--dark);
}
