.table {
  width: 100%;
}

.table thead {
  background-color: white;
}

.table thead.fixed {
  position: sticky;
  top: 0;
}

.table thead th {
  border-top: 1px solid var(--color--gray--medium);
  border-bottom: 1px solid var(--color--gray--medium);
  white-space: nowrap;
}

.table th,
.table td {
  text-align: left;
  padding: var(--accessible-spacing--1x);
  border-right: 1px solid var(--color--gray--light);
  border-bottom: 1px solid var(--color--gray--light);
}

/* The last column should stretch to the table edge and have no right border. */
.table th:last-child,
.table td:last-child {
  width: 100%;
  border-right: none;
}

/* The last body row should have no bottom border. */
.table tbody tr:last-child th,
.table tbody tr:last-child td {
  border-bottom: 1px solid var(--color--gray--medium);
}

.column-actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--accessible-spacing--2x);
}

.column-actions {
  display: flex;
  align-items: center;
  gap: var(--accessible-spacing--halfx);
}

.column-action {
  all: unset;

  display: flex;
  align-items: center;
}

.column-action .icon {
  width: var(--icon-size--text);
  height: var(--icon-size--text);
}

