:root {
  --table--border-width: 1px;
}

.table {
  width: 100%;
}

.table thead {
  background-color: white;
}

.table thead.fixed {
  position: sticky;
  top: calc(-1 * var(--table--border-width));
}

.table thead th {
  border-top: var(--table--border-width) solid var(--color--gray--medium);
  border-bottom: var(--table--border-width) solid var(--color--gray--medium);
  vertical-align: bottom;
  white-space: nowrap;
}

.table tbody th {
  white-space: nowrap;
}

.table th,
.table td {
  text-align: left;
  padding: var(--accessible-spacing--1x);
  border-right: var(--table--border-width) solid var(--color--gray--light);
  border-bottom: var(--table--border-width) solid var(--color--gray--light);
}

/* The last column should stretch to the table edge and have no right border. */
.table th:last-child,
.table td:last-child {
  width: 100%;
  border-right: none;
}

/* The last body row should have a darker bottom border. */
.table tbody tr:last-child th,
.table tbody tr:last-child td {
  border-bottom: var(--table--border-width) solid var(--color--gray--medium);
}

.table tbody th,
.table tbody td {
  vertical-align: top;
}

/* Truncated tables don't wrap table body contents. */
.table.truncate tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60ch;
}

.table .clickable {
  cursor: pointer;
}

.table .clickable:hover {
  background-color: var(--color--gray--lighter);
}

.table .has-actions .column-head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--accessible-spacing--1x);
}

/* This is the default, but supplying it anyway. */
.table .has-actions.action-alignment--right .column-head-wrapper {
  justify-content: space-between;
}

.table .has-actions.action-alignment--left .column-head-wrapper {
  justify-content: start;
}

.column-actions {
  display: flex;
  align-items: center;
  gap: var(--accessible-spacing--halfx);
}

.column-action {
  all: unset;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.column-action .icon {
  width: var(--icon-size--text);
  height: var(--icon-size--text);
}
