:root {
  --color--gray--darker: #343434;
  --color--gray--dark: #444;
  --color--gray--medium: #BBB;
  --color--gray--light: #EFEFEF;
  --color--gray--lighter: #FAFAFA;
  --color--blue: #1176BC;
  --color--red: #892929;

  --font-size: 16px;
  --line-height: 1.4;
  --font-family--sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family--monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-weight--normal: 400;
  --font-weight--medium: 600;
  --font-weight--bold: 700;

  /* These spacings shouldn't increase with font-size. They have no accessibility impact. */
  --fixed-spacing--1x: 10px;
  --fixed-spacing--2x: calc(2 * var(--fixed-spacing--1x));
  --fixed-spacing--halfx: calc(var(--fixed-spacing--1x) / 2);

  /* These spacings should increase with font-size. They have an accessibility impact. */
  --accessible-spacing--1x: 0.625rem;
  --accessible-spacing--2x: calc(2 * var(--accessible-spacing--1x));
  --accessible-spacing--halfx: calc(var(--accessible-spacing--1x) / 2);

  --transition-duration: 200ms;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color--gray--light);
  color: var(--color--gray--darker);
  font-family: var(--font-family--sans-serif);
  font-weight: var(--font-weight--normal);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family--monospace);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition-duration: var(--transition-duration);
}

nav ul,
nav ol,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight--normal);
  line-height: 1.2;
}
